:root {
  --primary: #cce3de;
  --secondary: #eaf4f4;
  --buutoncolor: #cf9b16;

  --darkbg: #000;
  --dark-text-color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
/* <!-- --darkmode toggler-- --> */
[for="mode"] {
  position: fixed;
  top: 6rem;
  left: 3rem;
}

[for="mode"]:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s;
}

.wrapper {
  background: rgba(225, 244, 208, 0.834);
  min-height: 100vh;
}

/* <!-- --nav bar-- --> */
header .header {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
  width: 100%;
}
.logo {
  font-size: 1.2rem;
  position: relative;
}

.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;
}
.line::before {
  content: "";
  background: var(--buutoncolor);
  width: 4px;
  height: 100%;

  position: absolute;
  left: 40%;
}
.navigation {
  list-style: none;
  font-weight: bold;
}

.navigation li:hover {
  color: var(--buutoncolor);
  transition: all 0.3s;

  color: var(--buutoncolor);
}
/* 
applying dark mode feature
 */

#mode:checked + .wrapper {
  zoom: 2;
  background: var(--darkbg);
  color: var(--dark-text-color);
}

#mode {
  display: none;
}

/* <!-- --hero section-- --> */
/* <!--  banner-- --> */
/* <!-- --projects-- --> */
/* <!-- --about me-- --> */

/* <!-- contact-- --> */
/* <!-- footer section */
